$primary: #3c2e92;
$primary01: #50b5ff;
$primary02: #02295c;
$primary03: #3E3097;
$primary04: #073763;
$primary05: #00CBC7;;
$secondary: #ff6145;
$tertiary: #0abf53;
$greenPrimary: #00F090;
$black: #333333;
$black01: #0f0909;
$black02: #000000;
$white: #ffffff;
$purple:#f0b173f9;
$yellow:#FFDF00;
$background: linear-gradient(252.44deg, #5240CB 0%, #3C2E92 100%);
$background01: #F5F5F5;
$background02: #F5EDFF;
$background03: #F0F0F0;
$background04: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);;
$borderWhite: rgba($color: #ffffff, $alpha: 0.1);
// Shadow variable
$shadow01: drop-shadow(0px 20px 25px rgba(0, 0, 0, 0.25));
$shadow02: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow03:drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
$shadow04:0px 4px 4px rgb(0 0 0 / 25%);
// Font Sizes
$font-xxs: 10px;
$font-xxss: 11px;
$font-xs: 12px;
$font-sxm: 13px;
$font-sm: 14px;
$font-md: 15px;
$font-lg: 16px;
$font-mlg: 18px;
$font-mxlg: 19px;
$font-xl: 20px;
$font-xxl: 22px;
$font-xxxl: 24px;
$font-xllg: 25px;
$font-xxviii: 28px;
$font-big: 36px;
$font-big01: 42px;
$font-big02: 60px;
$font-big03: 68px;
// BreackPoints

$screen-xxsm: 320px;
$screen-msm: 370px;
$screen-xsm: 380px;
$screen-mo: 480px;
$screen-sm: 767px;
$screen-iPad: 770px;
$screen-tab: 960px;
$screen-md: 1024px;
$screen-xlmd: 1440px;
$screen-blg: 1540px;
$screen-bxlg: 1710px;
$screen-xxlg: 1920px;
